<div *ngIf="!pais else divPais" class="alert alert-info animate__animated animate__fadeIn">
    Espere por favor...
</div>
<ng-template #divPais>
    <div class="row">
        <div class="col-12 animate__animated animate__fadeIn">
            <h1>pais: <small>{{pais.name}}</small></h1>
        </div>
    </div>
    <div class="row animate__animated animate__fadeIn">
        <div class="col-4 ">
            <h3>Bandera</h3>
            <img [src]="pais.flags.png" [alt]="pais.name" class="img-thumbnail">
        </div>
        <div class="col">
            <h3 class="animate__animated animate__fadeIn">Informacion</h3>
            <ul class="list-group animate__animated animate__fadeIn">
                <li class="list-group-item">
                    Poblacion: <strong>{{pais.population | number}}</strong>
                </li>
                <li class="list-group-item">
                    Codigo Numerico: <strong>{{pais.numericCode | number}}</strong>
                </li>
                <li class="list-group-item">
                    Codigo Alpha 2: <strong>{{pais.alpha2Code}}</strong>
                </li>
                <li class="list-group-item">
                    Codigo Alpha 3: <strong>{{pais.alpha3Code}}</strong>
                </li>
                <li class="list-group-item">
                    Area M2: <strong>{{pais.area | number}} Km2</strong>
                </li>
            </ul>
        </div>
    </div>
    <h3 class="animate__animated animate__fadeIn">Traducciones</h3>
    <div class="row animate__animated animate__fadeIn">
        <div class="col">
            <span class="badge bg-primary mr-1">{{pais.translations['br']}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations['pt']}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations['nl']}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations['es']}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations['en']}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations['fr']}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations['ja']}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations['fa']}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations['it']}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations['hu']}}</span>
        </div>
    </div>
    <!-- 
    <pre class="mt-5">
        {{pais | json}}
    </pre> -->
</ng-template>